@using SIS_Ga2.Entity
@using SIS_Ga2.Controllers

@model IEnumerable<SIS_Ga2.Entity.Proyecto>
@{
    //Layout = null;

    ViewBag.Title = "Diseno";
    BEUsuario usuario = Session["sistema.usuario"] as BEUsuario;
    BEProyecto proyecto = Session["proyecto.general"] as BEProyecto;
    Sistema sistema = Session["sistema.general"] as Sistema;
    if (sistema == null)
    {
        Response.Redirect(Url.Action("Login", "Seguridad"));
        return;
    }
}

<input type="hidden" id="txtidTipoDiseno" value="@sistema.idAplicacion" />
<input type="hidden" id="txtidUsuario" value="@sistema.idUsuario" />
<input type="hidden" id="txtUsuario" value="@usuario.Usuario" />

<div class="col-lg-12">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Registro de Proyecto y Diseño: < @sistema.TipoDiseno ></li>
                </ol>
            </nav>
        </div>
        <form>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-5">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Número de Proyecto</label>
                        <input id="txtNumProyecto" name="txtNumProyecto" data-id="1" type="text" placeholder="Número de Proyecto" class="column_filter mr-3 col-sm-12 form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Proyecto</label>
                        <input id="txtProyecto" name="txtProyecto" data-id="1" type="text" placeholder="Proyecto" class="column_filter mr-3 col-sm-12 form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Fecha Proyecto</label>
                        <input id="txtFechaProyecto" name="txtFechaProyecto" data-id="4" type="text" placeholder="Fecha Proyecto" value="@proyecto.Fecha_Proyecto_Date" class="column_filter mr-3 col-sm-12 form-control form-control-sm" readonly="readonly">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Ingeniero</label>
                        <input id="txtIngeniero" name="txtIngeniero" data-id="4" type="text" placeholder="Ingeniero" class="column_filter mr-3 col-sm-12 form-control form-control-sm">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-5">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Tipo de Diseño</label>
                        <input id="txtTipodiseno" data-id="1" type="text" placeholder="Tipo de Diseño" value="@sistema.TipoDiseno" class="column_filter mr-3 col-sm-12 form-control form-control-sm" readonly="readonly">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Diseño</label>
                        <input id="txtDiseno" type="text" placeholder="Diseño" class="mr-3 col-sm-12 form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Tramo</label>
                        <input id="txtTramo" type="text" placeholder="Tramo" class="mr-3 col-sm-12 form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Reglamento</label>
                        <input id="txtReglamento" data-id="4" type="text" placeholder="Reglamento" class="column_filter mr-3 col-sm-12 form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Departamento</label>
                        @Html.DropDownList("ddlDepartamento", null, new { @class = "mr-3 col-sm-12 form-control form-control-sm" })
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Provincia</label>
                        @Html.DropDownList("ddlProvincia", null, new { @class = "mr-3  col-sm-12 form-control form-control-sm" })
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Distrito</label>
                        @Html.DropDownList("ddlDistrito", null, new { @class = "mr-3  col-sm-12 form-control form-control-sm" })
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class=" clearfix">
                    <div class="p-0">
                        <div class="btn-group float-left" role="group" aria-label="Basic example">
                        </div>
                    </div>
                    <div class="p-0">
                        <div class="btn-group float-right" role="group" aria-label="Basic example">
                            <button type="button" id="btnGuardarProyDiseno" class="btn btn-primary"><span class="icon-form"></span> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        var idTipoDiseno = document.getElementById("txtidTipoDiseno").value;
        var idUsuario = document.getElementById("txtidUsuario").value;
        var Usuario = document.getElementById("txtUsuario").value;

        

        $("#ddlDepartamento").change(function () {
            cambiaDepartamento($("#ddlDepartamento").val());
            //var id = $(this).val();
            //var text = $(this).find('option:selected').text();
            //alert(text);
        });

        $("#ddlProvincia").change(function () {
            cambiaProvincia($("#ddlProvincia").val());
        });

        cambiaDepartamento($("#ddlDepartamento").val());


        $("#btnGuardarProyDiseno").on("click", function (event) {

            var strNumProyecto = document.getElementById("txtNumProyecto").value;
            var strProyecto = document.getElementById("txtProyecto").value;
            var strFechaProyecto = document.getElementById("txtFechaProyecto").value;
            var strIngeniero = document.getElementById("txtIngeniero").value;

            var strTipoDiseno = idTipoDiseno;
            var strNumDiseno = document.getElementById("txtDiseno").value;

            var strTramo = document.getElementById("txtTramo").value;
            var strReglamento = document.getElementById("txtReglamento").value;

            var strIdDepartamento = $("#ddlDepartamento").val();
            var strIdProvincia = $("#ddlProvincia").val();
            var strIdDistrito = 23;//document.getElementById("ddlDistrito").value;

            var objDataProy = {};

            objDataProy["Num_Proyecto"] = strNumProyecto;
            objDataProy["Proyecto"] = strProyecto;
            objDataProy["FechaProyecto"] = strFechaProyecto;
            objDataProy["Ingeniero"] = strIngeniero;
            objDataProy["id_Usuario"] = idUsuario;
            objDataProy["UsrCreacion"] = Usuario;

            var objDataDiseno = {};
            objDataDiseno["IdTipoDiseno"] = strTipoDiseno;
            objDataDiseno["NumeroDiseno"] = strNumDiseno;
            objDataDiseno["idTramo"] = 1; //Hardcode: Regularizar
            objDataDiseno["idReglamento"] = 1; //Hardcode: Regularizar
            objDataDiseno["idDistrito"] = strIdDistrito;

            $.ajax
                ({
                    method: 'POST',
                    url: '/ProyectoDiseno/RegistroProyDiseno',
                    data: {'ObjProyecto':objDataProy, 'ObjDiseno': objDataDiseno},
                    success: function (respuesta) {
                        if (respuesta==1) {
                            toastr.success("Los datos se guardarón correctamente.", 'ASOCEM', { timeOut: 2000 });
                            $('#btnGuardarProyDiseno').attr("disabled", true);



                        }
                        else {
                            toastr.error("Ingrese los datos!", 'ERROR', { timeOut: 2000 });
                        }
                    },
                    error: function (xhr, status) {
                        toastr.error(status, 'ERROR', { timeOut: 2000 });
                    }

                });

        });

    });

    function cambiaDepartamento(idDepartamento) {

        // var dd2 = document.getElementById("idIngeniero");
        //alert(dd2.value);
        var dd = document.getElementById("ddlProvincia");

        dd.options.length = 0;
        dd.options[0] = new Option("Espere...");
        dd.selectedIndex = 0;
        dd.disabled = true;

        // Control de errores
        $("#ddlProvincia").ajaxError(function (event, request, settings) {
            dd.options[0] = new Option("Departamento incorrecto");
        });


        var objData = {};
        objData["idDepartamento"] = idDepartamento;

        $.ajax({
            type: "POST",
            url: '/Home/ListaProvincias',
            data: JSON.stringify(objData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (provincias) {

                var obj = (typeof provincias) == 'string' ? eval('(' + provincias + ')') : provincias;

                $.each(obj, function (i, item) {

                    dd.options[i] = new Option(item.Provincia, item.Id_Provincia);

                });

                dd.disabled = false;
                cambiaProvincia($("#ddlProvincia").val());
            }

        });
    }

    function cambiaProvincia(idProvincia) {

        var dd = document.getElementById("ddlDistrito");

        dd.options.length = 0;
        dd.options[0] = new Option("Espere...");
        dd.selectedIndex = 0;
        dd.disabled = true;

        // Control de errores
        $("#ddlDistrito").ajaxError(function (event, request, settings) {
            dd.options[0] = new Option("Distrito incorrecto");
        });


        var objData = {};
        objData["idProvincia"] = idProvincia;

        $.ajax({
            type: "POST",
            url: '/Home/ListaDistritos',
            data: JSON.stringify(objData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (distritos) {

                var obj = (typeof distritos) == 'string' ? eval('(' + distritos + ')') : distritos;

                $.each(obj, function (i, item) {

                    dd.options[i] = new Option(item.Distrito, item.id_Distrito);

                });

                dd.disabled = false;

            }

        });

    }




</script>

