@using SIS_Ga2.Entity
@using SIS_Ga2.Controllers

@model IEnumerable<SIS_Ga2.Entity.Proyecto>
@{
    //Layout = null;

    ViewBag.Title = "Proyecto";
    BEUsuario usuario = Session["sistema.usuario"] as BEUsuario;
    Sistema sistema = Session["sistema.general"] as Sistema;
    if (sistema == null)
    {
        Response.Redirect(Url.Action("Login", "Seguridad"));
        return;
    }
}

<input type="hidden" id="txtidTipoDiseno" value="@sistema.idAplicacion" />
<input type="hidden" id="txtidUsuario" value="@sistema.idUsuario" />
<input type="hidden" id="txtUsuario" value="@usuario.Usuario" />
<input type="hidden" id="idIngeniero"  />

<!-- Form Elements -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Mantenimiento Proyectos</h3>
        </div>
        <div class="card-body">
            <form class="form-inline">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="inlineFormInput" class="col-form-label">Proyecto N° :</label>
                        <input id="col1_filter" data-id="1" type="text" placeholder="Proyecto" class="column_filter mr-3 col-sm-10 form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inlineFormInput" class="col-form-label">Fecha Proyecto</label>
                        <input id="datetimepicker1" type="text" placeholder="Fecha Proyecto" class="mr-3 col-sm-10 form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inlineFormInput" class="col-form-label">Fecha Contrato</label>
                        <input id="datetimepicker2" type="text" placeholder="Fecha Fin Contrato" class="mr-3 col-sm-10 form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inlineFormInput" class="col-form-label">Departamento</label>
                        @Html.DropDownList("ddlDepartamento", null, new { @class = "mr-4 col-sm-10 form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inlineFormInput" class="col-form-label">Provincia</label>
                        @Html.DropDownList("ddlProvincia", null, new { @class = "mr-4  col-sm-10 form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inlineFormInput" class="col-form-label">Distrito</label>
                        @Html.DropDownList("ddlDistrito", null, new { @class = "mr-4  col-sm-10 form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inlineFormInput" class="col-form-label">Ingeniero</label>
                        <input id="col4_filter" data-id="4" type="text" placeholder="Apellidos y Nombres" class="column_filter mr-3 col-sm-10 form-control">
                    </div>

                </div>

            </form>


        </div>
        <div class="card-header d-flex flex-row-reverse bd-highlight">
        </div>
        <div class="card-header d-flex flex-row-reverse bd-highlight">
            <div class="p-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" id="btnBuscar" class="btn btn-primary"><span class="icon-search"></span> Buscar</button>
                </div>
            </div>
        </div>
        <div class="card-header d-flex align-items-center">
            <div class="p-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" id="btnNuevoProyecto" class="btn btn-outline-primary" data-id="2" data-toggle="modal" data-target="#exampleModal"><span class="icon-form"></span> Proyecto</button>
                    <button type="button" id="btnNuevoDiseno" class="btn btn-outline-primary"><span class="icon-form"></span> Diseño</button>
                    <button type="button" id="btnEditar" class="btn btn-outline-primary editor_edit" data-id="1" data-toggle="modal" data-target="#exampleModal"><span class="icon-form"></span> Editar</button>
                    <button type="button" id="btnEliminar" class="btn btn-outline-danger editor_delete" data-id="3" data-toggle="modal" data-target="#deleteModal"><span class="icon-close"></span> Eliminar</button>
                    <button type="button" id="btnExportar" class="btn btn-outline-success"><span class="icon-screen"></span> Exportar</button>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="display compact" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-sm-center" id="Id_Proyecto">Id.</th>
                            <th class="text-sm-center" id="Num_Proyecto">Num.</th>
                            <th class="text-sm-center" id="Proyecto">Proyecto</th>
                            <th class="text-sm-center" id="Fecha">Fecha Proy.</th>
                            <th class="text-sm-center" id="Dni">Dni</th>
                            <th class="text-sm-center" id="Ingeniero">Ingeniero</th>
                            <th class="text-sm-center" id="Cargo">Cargo</th>
                            <th class="text-sm-center" id="Fecha_Contrato">F.Contrato</th>
                            <th class="text-sm-center" id="Num_Diseno">Num.Diseño</th>
                            <th class="text-sm-center" id="Tipo_Diseno">Tipo Diseno</th>
                            <th class="text-sm-center" id="Tramo">Tramo</th>
                            <th class="text-sm-center" id="Ubigeo">Ubigeo</th>
                            <th></th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
    <!-- Modal-->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        @using (Html.BeginForm("FormRegistraProyecto", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nuevo Proyecto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Proyecto:</label>
                                <input type="text" class="form-control" id="frmProyecto" name="frmProyecto">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Diseño:</label>
                                <input type="text" class="form-control" id="frmDiseno" name="frmDiseno">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Reglamento:</label>
                                <input type="text" class="form-control" id="frmReglamento" name="frmReglamento">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" id="btnNuevo" class="btn btn-primary">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        @using (Html.BeginForm("FormEliminaProyecto", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Esta seguro de eliminar el Proyecto?</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" id="btnNuevo" class="btn btn-primary">Eliminar</button>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>

</div>



<script src="~/Scripts/jquery-3.3.1.js"></script>

<script type="text/javascript">
         var dataProyecto = [];

        $(document).ready(function ()
        {
            var idTipoDiseno = document.getElementById("txtidTipoDiseno").value;
            var idUsuario = document.getElementById("txtidUsuario").value;

            alert(idUsuario);

           // $("#btnBuscar").click(ProcesarQuery);

            $("#ddlDepartamento").change(function () {
                cambiaDepartamento($("#ddlDepartamento").val());
                //var id = $(this).val();
                //var text = $(this).find('option:selected').text();
                //alert(text);
            });

            $("#ddlProvincia").change(function () {
                cambiaProvincia($("#ddlProvincia").val());
            });

           cambiaDepartamento($("#ddlDepartamento").val());           



            var availableTags = [
                "ActionScript",
                "AppleScript",
                "Asp",
                "BASIC",
                "C",
                "C++",
                "Clojure",
                "COBOL",
                "ColdFusion",
                "Erlang",
                "Fortran",
                "Groovy",
                "Haskell",
                "Java",
                "JavaScript",
                "Lisp",
                "Perl",
                "PHP",
                "Python",
                "Ruby",
                "Scala",
                "Scheme"
            ];

            $("#col4_filter").autocomplete({
                source: availableTags
            });


            CargarDtProyectos(idUsuario); //Cargamos el DataTable



            //para seleccionar una opcion
            $('#example tbody').on( 'click', 'tr', function () {
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                    //dato = "";
                    //datos = "";
                    //alert(dato);
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    //dato = $(this).find("td:eq(0)").text();
                    //datos = $(this).find("td:eq(1)").text();
                    //alert(dato + ' - ' + datos);
                }
            } );



            //Busqueda de Parámetros TextBox: Proyecto/Ingeniero
            //$('input.column_filter').on('keyup click', function () {
            //    var iden = $(this).data("id"); 
            //    filterColumn(iden);
            //} );




            $("#btnBuscar").click( function()
            {
                $('#example').dataTable().fnDestroy();
                CargarDtProyectos(idUsuario);
                alert("Buscando...");
            }
            );



            // Proceso Actualizar
            $("#btnEditar").click( function()
                {
                    var Proc = $(this).data("id"); //Parametro identificador de Proceso                    
                    alert(Proc);
                    Mantenimiento(Proc, ' ');
                }
            );

            // Proceso Eliminar
            $('#example').on('click', 'button.editor_delete', function (e) {
                e.preventDefault();
                var Proc = $(this).data("id"); //Parametro identificador de Proceso 
                var CodProyecto = $(this).parents("tr").find("td").eq(1).html();

                Mantenimiento(Proc,CodProyecto);          

            } );

            // Proceso Nuevo
            $("#btnNuevoProyecto").click( function()
                {
                    var Proc = $(this).data("id"); //Parametro identificador de Proceso                    
                    alert(Proc);
                    Mantenimiento(Proc, ' ');
                }
            );

            CargarCompleted();
            CargarGrilla();


        });


function ProcesarQuery() 
{  
             var dataJson  = "{'Proyecto':'" +  $('[id$=Proyecto]').val() + "'," +
             "'FechaProyecto':'"+$('[id$=txtOrdenCompra]').val()+ "'," +
             "'FechaContrato':'"+ $('[id$=datetimepicker1]').val()+ "'," +
             "'Departamento':'"+$('[id$=ddlDepartamento]').val() + "'," +
             "'Provincia':'"+$('[id$=ddlProvincia]').val() + "'," +
             "'Distrito':'"+$('[id$=ddlDistrito]').val() + "'," +
        "'IdIngeniero':'" + document.getElementById("idIngeniero").value + "'}" 

    alert(dataJson);

            $.ajax({
                type: "POST",             
                url: "/Proyectos/ListarProyectos2",
                contentType: "application/json; charset=utf-8",
                dataType: "json",   
                data : dataJson ,
                //    crossDomain: true, 
                success: function (response)
                 {  
                    dataOrdenCompra=[];
                    //var objeto =  JSON.parse(response.d) ; 
                     $.each(response, function(i, item) {
                     
                         var dataObject = 
                         {

                               NumProyecto: item.NumProyecto,  
                               Proyecto : item.Proyecto ,
                               Fecha_Proyecto : item.Fecha_Proyecto ,
                               Fecha_Contrato : item.Fecha_Contrato ,
                               Ingeniero : item.Ingeniero ,
                               Cant_Diseno : item.CantDiseno 
                           };
                            dataProyecto.push(dataObject);

                    });
                    //Reload();
                         
                },
                
               error: Error
            
            });
       
        };
function Error(result) 
{
    // $("#divError").show();
        alert("ERROR " + result.status + ' ' + result.statusText); 
       
} 


 function CargarCompleted()
{
     var idUsuario = document.getElementById("txtidUsuario").value;
    
         
    $('#txtIngeniero').autocomplete({
        //source: DataProveedor,       
         source: function( request, response )
        {
                $.ajax(
                {
                 type: "POST",
                 url: "/Home/ListaUsuarios",
                 data:  "{'strUsuario':'" + $.trim(idUsuario) + "'," +
                             "'valorUsuario':'"+ $.trim(request.term) + "'}" ,
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 dataFilter: function (data) { return data; },                   
                 success: function(data) 
                 { 
                     response($.map(data, function (item) {
                        return {
                            label:  item.Apellido + " "+ item.Nombre,
                            value: item.Apellido + " "+ item.Nombre,
                            id: item.Id_Usuario
                         }; 
                    }));
                 },
                error: Error
                });
            },
        minLength: 2,
        select: function (event, ui) {

            

            var dd = document.getElementById("idIngeniero");
            dd.value =ui.item.id

      
        },
    });
        };



function cambiaDepartamento(idDepartamento) {
           
    // var dd2 = document.getElementById("idIngeniero");
        //alert(dd2.value);
    var dd = document.getElementById("ddlProvincia");

    dd.options.length = 0;
    dd.options[0] = new Option("Espere...");
    dd.selectedIndex = 0;
    dd.disabled = true;

    // Control de errores
    $("#ddlProvincia").ajaxError(function (event, request, settings) {
        dd.options[0] = new Option("Departamento incorrecto");
    });


    var objData = {};
    objData["idDepartamento"] = idDepartamento;

    $.ajax({
        type: "POST",
        url: '/Home/ListaProvincias',
        data: JSON.stringify(objData),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (provincias) {

            var obj = (typeof provincias) == 'string' ? eval('(' + provincias + ')') : provincias;

            $.each(obj, function (i, item) {

                dd.options[i] = new Option(item.Provincia, item.Id_Provincia);

            });

            dd.disabled = false;
            cambiaProvincia($("#ddlProvincia").val());
        }

    });
}

function cambiaProvincia(idProvincia) {

    var dd = document.getElementById("ddlDistrito");

    dd.options.length = 0;
    dd.options[0] = new Option("Espere...");
    dd.selectedIndex = 0;
    dd.disabled = true;

    // Control de errores
    $("#ddlDistrito").ajaxError(function (event, request, settings) {
        dd.options[0] = new Option("Distrito incorrecto");
    });


    var objData = {};
    objData["idProvincia"] = idProvincia;

    $.ajax({
        type: "POST",
        url: '/Home/ListaDistritos',
        data: JSON.stringify(objData),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (distritos) {

            var obj = (typeof distritos) == 'string' ? eval('(' + distritos + ')') : distritos;

            $.each(obj, function (i, item) {

                dd.options[i] = new Option(item.Distrito, item.id_Distrito);

            });

            dd.disabled = false;
                    
        }

    });

}

function ListarProyectos() {
    var idTipoDiseno = document.getElementById("txtidTipoDiseno").value;
    var idUsuario = document.getElementById("txtidUsuario").value;
    var contenido = "";

    var objData = {};
    objData["idTipoDiseno"] = idTipoDiseno;
    objData["idUsuario"] = idUsuario;

    $.ajax({
        type: "POST",
        url: '/Proyectos/ListarProyectos',
        data: JSON.stringify(objData),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (Proyectos) {
            var obj = (typeof Proyectos) == 'string' ? eval('(' + Proyectos + ')') : Proyectos;
            for (i = 0; i < obj.length; i++) {

                contenido = contenido + "<tr>" +
                    "<td style='text-align: center'>" + obj[i].idProyecto + "</td>" +
                    "<td style='text-align: center'>" + obj[i].CodProyecto + "</td>" +
                    "<td style='text-align: center'>" + obj[i].FecProyecto + "</td>" +
                    "<td style='display:none;'>" + obj[i].idTipoDiseno + "</td>" +
                    "<td style='text-align: center'>" + obj[i].TipoDiseno + "</td>" +
                    "<td style='text-align: center'>" + obj[i].NumDiseno + "</td>" +
                    "<td style='text-align: center'>" + obj[i].Tramo + "</td>" +
                    "<td style='text-align: center'>" + obj[i].Ubicacion + "</td>" +
                    "<td style='text-align: center'>" + obj[i].Reglamento + "</td>" +
                    "<td style='display:none;'>" + obj[i].idReglamento + "</td>" +
                    "<td><a title='Editar' style='cursor:pointer' onclick='EditarProductoVentas(" + obj[i].idProyecto + ")'>" +
                    "<i class='icol-text-signature'></i>" +
                    "</a> &nbsp </td></tr>"
            }

            $("#bodyProyectos").empty().html(contenido);
        }
    });
}

function Mantenimiento(prc,codProy)
{
    switch (prc) {
        case 1: //Proceso Actualizar
            document.getElementById('exampleModalLabel').innerHTML = ' ACTUALIZANDO: ' + codProy;
            break;

        case 2: //Proceso Nuevo
            document.getElementById('exampleModalLabel').innerHTML = ' NUEVO PROYECTO: ';
            break;

        case 3: //Proceso Eliminar
            document.getElementById('deleteModalLabel').innerHTML = ' ELIMINANDO: ' + codProy;
            break;
    } 
}

function filterColumn(i) {
    $('#example').DataTable().column(i).search(
        $('#col'+i+'_filter').val(),
    ).draw();
}

function CargarDtProyectos(param)
{
        var strNumProyecto = document.getElementById("col1_filter").value;
        if (document.getElementById("datetimepicker1").value!="") 
            var strFechaProyecto = document.getElementById("datetimepicker1").value;
            var strFechaProyecto = 0;

        if (document.getElementById("datetimepicker2").value!="")
            var strFechaContrato = document.getElementById("datetimepicker2").value;
            var strFechaContrato = 0;

        if ($("#ddlDistrito").val()!="(Selecciona)")
            var strIdDistrito = $("#ddlDistrito").val();
            var strIdDistrito = 0;

        if ($("#ddlProvincia").val()!="Espere...")
            var strIdProvincia = $("#ddlProvincia").val();
            var strIdProvincia = 0;

        var strIdDepartamento = $("#ddlDepartamento").val();





            
        var objData = {};
        //objData["idTipoDiseno"] = idTipoDiseno;
        //objData["idUsuario"] = idUsuario; 

        objData["NumProyecto"] = strNumProyecto;
        objData["FechaProyecto"] = strFechaProyecto;
        objData["FechaContrato"] = strFechaContrato;
        objData["IdUsuario"] = param;
        objData["Distrito"] = strIdDistrito;
        objData["Provincia"] = strIdProvincia;
        objData["Departamento"] = strIdDepartamento;

           
        var table =
            $('#example').dataTable({
            "searching": false,
            "ajax": {
                    "url": "/Proyectos/ListarProyectos",
                    "type": "POST",
                    "data": objData,
                    "dataType": "json"
                    },
            "columns": [
                            { "data": "Id_Proyecto" , "class": "text-center"},
                            { "data": "Num_Proyecto", "class": "text-center" },
                            { "data": "Proyecto" , "class": "text-center" },
                            { "data": "Fecha" , "class": "text-center"},
                            { "data": "Dni" , "class": "text-center"},
                            { "data": "Ingeniero" , "class": "text-center"},
                            { "data": "Cargo" , "class": "text-center"},
                            { "data": "Fecha_Contrato" , "class": "text-center"},
                            { "data": "Num_Diseno" , "class": "text-center"},
                            { "data": "Tipo_Diseno" , "class": "text-center"},
                            { "data": "Tramo" , "class": "text-center"},
                            { "data": "Ubigeo" , "class": "text-center"},
                            {
                                data: null,
                                className: "center",
                                defaultContent: '<div class="btn-group btn-group-sm"><button type="button" id="ButtonReporte" class="btn btn-primary editor_report" data-id="1" data-toggle="modal" data-target="#exampleModal"><span class="icon-search"></span></button></div>'
                            }
                        ],

            "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }

        });

}


</script>


