@using SIS_Ga2.Entity
@using SIS_Ga2.Controllers

@model IEnumerable<SIS_Ga2.Entity.Proyecto>
@{
    //Layout = null;

    ViewBag.Title = "Proyecto";
    BEUsuario usuario = Session["sistema.usuario"] as BEUsuario;
    Sistema sistema = Session["sistema.general"] as Sistema;
    if (sistema == null)
    {
        Response.Redirect(Url.Action("Login", "Seguridad"));
        return;
    }
}

<input type="hidden" id="txtidTipoDiseno" value="@sistema.idAplicacion" />
<input type="hidden" id="txtidUsuario" value="@sistema.idUsuario" />

<!-- Form Elements -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Consulta: </h3>
        </div>
        <div class="card-body">
            <form class="form-inline">

                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="inlineFormInput" class="col-form-label">Proyecto</label>
                        <input id="Proyecto" type="text" placeholder="Proyecto" class="mr-3 form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inlineFormInput" class="col-form-label">Fecha Proyecto</label>
                        <input id="datetimepicker1" type="text" placeholder="Fecha Proyecto" class="mr-3 form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inlineFormInput" class="col-form-label">Fec fin de contrato</label>
                        <input id="datetimepicker2" type="text" placeholder="Fecha Fin Contrato" class="mr-3 form-control">
                    </div>
                    @*</div>

                        <div class="row">*@
                    <div class="form-group col-md-4">
                        <label for="ddlDepartamento" class="col-form-label">Departamento  </label>
                        @Html.DropDownList("ddlDepartamento", null, new { @class = "mr-4 form-control dropdown-toggle" })
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ddlProvincia" class="col-form-label">Provincia  </label>
                        @Html.DropDownList("ddlProvincia", null, new { @class = "mr-4 form-control dropdown-toggle" })
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ddlDistrito" class="col-form-label">Distrito  </label>
                        @Html.DropDownList("ddlDistrito", null, new { @class = "mr-4 form-control dropdown-toggle" })
                    </div>
                </div>
            </form>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Proyectos: </h3>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Nuevo</button>
            <br>
            <br>
            <div class="table-responsive">
                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th class="align-center;" id="id">idProyecto</th>
                            <th class="align-center;" id="CodProyecto">CodProyecto</th>
                            <th class="align-center;" id="FecProyecto">FecProyecto</th>
                            <th class="align-center;" id="idTipDiseno">Ubicacion</th>
                            <th class="align-center;" id="TipDiseno">NumDiseno</th>
                            <th class="align-center;" id="NumDiseno">Tramo</th>
                            <th class="align-center;" id="NumDiseno">Reglamento</th>
                            <th class="align-center;" id="NumDiseno">TipoDiseno</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th class="align-center;" id="id">idProyecto</th>
                            <th class="align-center;" id="CodProyecto">CodProyecto</th>
                            <th class="align-center;" id="FecProyecto">FecProyecto</th>
                            <th class="align-center;" id="idTipDiseno">Ubicacion</th>
                            <th class="align-center;" id="TipDiseno">NumDiseno</th>
                            <th class="align-center;" id="NumDiseno">Tramo</th>
                            <th class="align-center;" id="NumDiseno">Reglamento</th>
                            <th class="align-center;" id="NumDiseno">TipoDiseno</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal-->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        @using (Html.BeginForm("FormRegistraProyecto", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nuevo Proyecto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Recipient:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Recipient:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>                                <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Recipient:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" id="btnNuevo" class="btn btn-primary">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</div>



    <script src="~/Scripts/jquery-3.3.1.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $("#ddlDepartamento").change(function () {
                cambiaDepartamento($("#ddlDepartamento").val());
            });

            $("#ddlProvincia").change(function () {
                cambiaProvincia($("#ddlProvincia").val());
            });

            cambiaDepartamento($("#ddlDepartamento").val());

            $("#ddlDepartamento").addClass("col-form-label");
            $("#ddlProvincia").addClass("col-form-label");
            $("#ddlDistrito").addClass("rocol-form-labeljo");

            var availableTags = [
                "ActionScript",
                "AppleScript",
                "Asp",
                "BASIC",
                "C",
                "C++",
                "Clojure",
                "COBOL",
                "ColdFusion",
                "Erlang",
                "Fortran",
                "Groovy",
                "Haskell",
                "Java",
                "JavaScript",
                "Lisp",
                "Perl",
                "PHP",
                "Python",
                "Ruby",
                "Scala",
                "Scheme"
            ];
            $("#Ingeniero").autocomplete({
                source: availableTags
            });






            //setup - add a text input to each footer cell
            $('#example tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Buscar ' + title + '" />');
            });




            var table =
                $('#example').DataTable({
                "ajax": {
                        "url": "/Proyectos/ListarProyectos",
                        "type": "POST",
                        "dataType": "json"
                        },
                "columns": [
                            { "data": "idProyecto" },
                            { "data": "CodProyecto" },
                            { "data": "FecProyecto" },
                            { "data": "Ubicacion" },
                            { "data": "NumDiseno" },
                            { "data": "Tramo" },
                            { "data": "Reglamento" },
                            { "data": "TipoDiseno" }
                            ],

                "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }

            });



            // Apply the search
            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change clear', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });



            var dato = "";
            var datos = "";

            //para seleccionar una opcion
            $('#example tbody').on( 'click', 'tr', function () {
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                    dato = "";
                    datos = "";
                    alert(dato);
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    dato = $(this).find("td:eq(0)").text();
                    datos = $(this).find("td:eq(1)").text();
                    alert(dato + ' - ' + datos);
                }
            } );


        });

        function cambiaDepartamento(idDepartamento) {

            var dd = document.getElementById("ddlProvincia");

            dd.options.length = 0;
            dd.options[0] = new Option("Espere...");
            dd.selectedIndex = 0;
            dd.disabled = true;

            // Control de errores
            $("#ddlProvincia").ajaxError(function (event, request, settings) {
                dd.options[0] = new Option("Departamento incorrecto");
            });


            var objData = {};
            objData["idDepartamento"] = idDepartamento;

            $.ajax({
                type: "POST",
                url: '/Home/ListaProvincias',
                data: JSON.stringify(objData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (provincias) {

                    var obj = (typeof provincias) == 'string' ? eval('(' + provincias + ')') : provincias;

                    $.each(obj, function (i, item) {

                        dd.options[i] = new Option(item.Provincia, item.Id_Provincia);

                    });

                    dd.disabled = false;
                    cambiaProvincia($("#ddlProvincia").val());
                }

            });
        }

        function cambiaProvincia(idProvincia) {

            var dd = document.getElementById("ddlDistrito");

            dd.options.length = 0;
            dd.options[0] = new Option("Espere...");
            dd.selectedIndex = 0;
            dd.disabled = true;

            // Control de errores
            $("#ddlDistrito").ajaxError(function (event, request, settings) {
                dd.options[0] = new Option("Distrito incorrecto");
            });


            var objData = {};
            objData["idProvincia"] = idProvincia;

            $.ajax({
                type: "POST",
                url: '/Home/ListaDepartamento',
                data: JSON.stringify(objData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (distritos) {

                    var obj = (typeof distritos) == 'string' ? eval('(' + distritos + ')') : distritos;

                    $.each(obj, function (i, item) {

                        dd.options[i] = new Option(item.Distrito, item.Id_Distrito);

                    });

                    dd.disabled = false;
                }

            });
        }



        function ListarProyectos() {
            var idTipoDiseno = document.getElementById("txtidTipoDiseno").value;
            var idUsuario = document.getElementById("txtidUsuario").value;
            var contenido = "";

            var objData = {};
            objData["idTipoDiseno"] = idTipoDiseno;
            objData["idUsuario"] = idUsuario;

            $.ajax({
                type: "POST",
                url: '/Proyectos/ListarProyectos',
                data: JSON.stringify(objData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (Proyectos) {
                    var obj = (typeof Proyectos) == 'string' ? eval('(' + Proyectos + ')') : Proyectos;
                    for (i = 0; i < obj.length; i++) {

                        contenido = contenido + "<tr>" +
                            "<td style='text-align: center'>" + obj[i].idProyecto + "</td>" +
                            "<td style='text-align: center'>" + obj[i].CodProyecto + "</td>" +
                            "<td style='text-align: center'>" + obj[i].FecProyecto + "</td>" +
                            "<td style='display:none;'>" + obj[i].idTipoDiseno + "</td>" +
                            "<td style='text-align: center'>" + obj[i].TipoDiseno + "</td>" +
                            "<td style='text-align: center'>" + obj[i].NumDiseno + "</td>" +
                            "<td style='text-align: center'>" + obj[i].Tramo + "</td>" +
                            "<td style='text-align: center'>" + obj[i].Ubicacion + "</td>" +
                            "<td style='text-align: center'>" + obj[i].Reglamento + "</td>" +
                            "<td style='display:none;'>" + obj[i].idReglamento + "</td>" +
                            "<td><a title='Editar' style='cursor:pointer' onclick='EditarProductoVentas(" + obj[i].idProyecto + ")'>" +
                            "<i class='icol-text-signature'></i>" +
                            "</a> &nbsp </td></tr>"
                    }

                    $("#bodyProyectos").empty().html(contenido);
                }
            });
        }


        

    </script>


