@using SIS_Ga2.Entity
@using SIS_Ga2.Controllers

@model IEnumerable<SIS_Ga2.Entity.Proyecto>
@{
    //Layout = null;

    ViewBag.Title = "Proyecto";
    BEUsuario usuario = Session["sistema.usuario"] as BEUsuario;
    Sistema sistema = Session["sistema.general"] as Sistema;
    if (sistema == null)
    {
        Response.Redirect(Url.Action("Login", "Seguridad"));
        return;
    }
}

<input type="hidden" id="txtidTipoDiseno" value="@sistema.idAplicacion" />
<input type="hidden" id="txtidUsuario" value="@sistema.idUsuario" />

<!-- Form Elements -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Consulta: </h3>
        </div>
        <div class="card-body">
            <form class="form-inline">
                <div class="form-group">
                    <label for="inlineFormInput" class="sr-only">Proyecto</label>
                    <input id="Proyecto" type="text" placeholder="Proyecto" class="mr-3 form-control">
                </div>
                <div class="form-group">
                    <label for="inlineFormInput" class="sr-only">FechaProyecto</label>
                    <input id="datetimepicker1" type="text" placeholder="Fecha Proyecto" class="mr-3 form-control">
                </div>
                <div class="form-group">
                    <label for="inlineFormInput" class="sr-only">FechaContrato</label>
                    <input id="datetimepicker2" type="text" placeholder="Fecha Contrato" class="mr-3 form-control">
                </div>
                <div class="form-group">
                    <label for="inlineFormInput" class="col-form-label">Departamento</label>
                    @Html.DropDownList("ddlDepartamento")
                </div>
                <div class="form-group">
                    <label for="inlineFormInput" class="col-form-label">Provincia</label>
                    @Html.DropDownList("ddlProvincia")
                </div>
                <div class="form-group">
                    <label for="inlineFormInput" class="col-form-label">Provincia</label>
                    @Html.DropDownList("ddlDistrito")
                </div>
                <div class="form-group">
                    <label for="inlineFormInput" class="sr-only">Ingeniero</label>
                    <input id="Ingeniero" type="text" placeholder="Proyecto" class="mr-3 form-control">
                </div>

               




            </form>
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </div>
    </div>
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Proyectos: </h3>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Nuevo</button>
            <br>
            <br>
            <div class="table table-responsive">
                <table class="table datatable table-hover table-checkable" id="tbProyectos">
                    <thead style="color:darkblue;">
                        <tr>
                            <th class="align-center;" id="id">No</th>
                            <th class="align-center;" id="CodProyecto">Código</th>
                            <th class="align-center;" id="FecProyecto">Fecha</th>
                            <th style="display:none;" id="idTipDiseno">idTipDiseño</th>
                            <th class="align-center;" id="TipDiseno">Diseño</th>
                            <th class="hidden-xs hidden-sm; align-center" id="NumDiseno">Num Diseño</th>
                            <th class="hidden-xs hidden-sm; align-center" id="Tramo">Tramo</th>
                            <th class="hidden-xs hidden-sm hidden-md; align-center;" id="Ubicacion">Ubicación</th>
                            <th class="hidden-xs hidden-sm hidden-md; align-center;" id="Reglamento">Reglamento</th>
                            <th class="hide" id="idReglamento">idReglamento</th>
                            <th class="align-center;" id="Opciones">Opciones</th>
                        </tr>
                    </thead>
                    <tbody id="bodyProyectos">
                </table>
            </div>
        </div>
    </div>


    <!-- Modal-->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        @using (Html.BeginForm("FormRegistraProyecto", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nuevo Proyecto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Recipient:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Recipient:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>                                <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Recipient:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" id="btnNuevo" class="btn btn-primary">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</div>

@Scripts.Render("~/Content/js")

<script>

    $(document).ready(function () {
        ListarProyectos();

        $("#ddlDepartamento").change(function () {
            cambiaDepartamento($("#ddlDepartamento").val());
        });

        $("#ddlProvincia").change(function () {
            cambiaProvincia($("#ddlProvincia").val());
        });

        cambiaDepartamento($("#ddlDepartamento").val());

        $("#ddlDepartamento").addClass("col-form-label");
        $("#ddlProvincia").addClass("col-form-label");
        $("#ddlDistrito").addClass("rocol-form-labeljo");

            var availableTags = [
          "ActionScript",
          "AppleScript",
          "Asp",
          "BASIC",
          "C",
          "C++",
          "Clojure",
          "COBOL",
          "ColdFusion",
          "Erlang",
          "Fortran",
          "Groovy",
          "Haskell",
          "Java",
          "JavaScript",
          "Lisp",
          "Perl",
          "PHP",
          "Python",
          "Ruby",
          "Scala",
          "Scheme"
        ];
    $( "#Ingeniero" ).autocomplete({
            source: availableTags
    });


    });

    function cambiaDepartamento(idDepartamento) {

        var dd = document.getElementById("ddlProvincia");

        dd.options.length = 0;
        dd.options[0] = new Option("Espere...");
        dd.selectedIndex = 0;
        dd.disabled = true;

        // Control de errores
        $("#ddlProvincia").ajaxError(function (event, request, settings) {
            dd.options[0] = new Option("Departamento incorrecto");
        });


        var objData = {};
        objData["idDepartamento"] = idDepartamento;

        $.ajax({
            type: "POST",
            url: '/Home/ListaProvincias',
            data: JSON.stringify(objData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (provincias) {

                var obj = (typeof provincias) == 'string' ? eval('(' + provincias + ')') : provincias;

                $.each(obj, function (i, item) {

                    dd.options[i] = new Option(item.Provincia, item.Id_Provincia);

                });

                dd.disabled = false;
                cambiaProvincia($("#ddlProvincia").val());
            }

        });
    }

    function cambiaProvincia(idProvincia) {

        var dd = document.getElementById("ddlDistrito");

        dd.options.length = 0;
        dd.options[0] = new Option("Espere...");
        dd.selectedIndex = 0;
        dd.disabled = true;

        // Control de errores
        $("#ddlDistrito").ajaxError(function (event, request, settings) {
            dd.options[0] = new Option("Distrito incorrecto");
        });


        var objData = {};
        objData["idProvincia"] = idProvincia;

        $.ajax({
            type: "POST",
            url: '/Home/ListaDepartamento',
            data: JSON.stringify(objData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (distritos) {

                var obj = (typeof distritos) == 'string' ? eval('(' + distritos + ')') : distritos;

                $.each(obj, function (i, item) {

                    dd.options[i] = new Option(item.Distrito, item.Id_Distrito);

                });

                dd.disabled = false;
            }

        });
    }



    function ListarProyectos() {
        var idTipoDiseno = document.getElementById("txtidTipoDiseno").value;
        var idUsuario = document.getElementById("txtidUsuario").value;
        var contenido = "";

        var objData = {};
        objData["idTipoDiseno"] = idTipoDiseno;
        objData["idUsuario"] = idUsuario;

        $.ajax({
            type: "POST",
            url: '/Proyectos/ListarProyectos',
            data: JSON.stringify(objData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (Proyectos) {
                var obj = (typeof Proyectos) == 'string' ? eval('(' + Proyectos + ')') : Proyectos;
                for (i = 0; i < obj.length; i++) {

                    contenido = contenido + "<tr>" +
                        "<td style='text-align: center'>" + obj[i].idProyecto + "</td>" +
                        "<td style='text-align: center'>" + obj[i].CodProyecto + "</td>" +
                        "<td style='text-align: center'>" + obj[i].FecProyecto + "</td>" +
                        "<td style='display:none;'>" + obj[i].idTipoDiseno + "</td>" +
                        "<td style='text-align: center'>" + obj[i].TipoDiseno + "</td>" +
                        "<td style='text-align: center'>" + obj[i].NumDiseno + "</td>" +
                        "<td style='text-align: center'>" + obj[i].Tramo + "</td>" +
                        "<td style='text-align: center'>" + obj[i].Ubicacion + "</td>" +
                        "<td style='text-align: center'>" + obj[i].Reglamento + "</td>" +
                        "<td style='display:none;'>" + obj[i].idReglamento + "</td>" +
                        "<td><a title='Editar' style='cursor:pointer' onclick='EditarProductoVentas(" + obj[i].idProyecto + ")'>" +
                        "<i class='icol-text-signature'></i>" +
                        "</a> &nbsp </td></tr>"
                }

                $("#bodyProyectos").empty().html(contenido);
            }
        });
    }



   
 

    </script>
