@using SIS_Ga2.Entity
@using SIS_Ga2.Controllers

@model IEnumerable<SIS_Ga2.Entity.Proyecto>
@{
    //Layout = null;

    ViewBag.Title = "Proyecto";
    BEUsuario usuario = Session["sistema.usuario"] as BEUsuario;
    Sistema sistema = Session["sistema.general"] as Sistema;
    if (sistema == null)
    {
        Response.Redirect(Url.Action("Login", "Seguridad"));
        return;
    }
}

<input type="hidden" id="txtidTipoDiseno" value="@sistema.idAplicacion" />
<input type="hidden" id="txtidUsuario" value="@sistema.idUsuario" />
<input type="hidden" id="txtUsuario" value="@usuario.Usuario" />
<input type="hidden" id="idIngeniero" />

<!-- Form Elements -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        Consulta de Proyectos: < @sistema.TipoDiseno >
                    </li>
                </ol>
            </nav>
        </div>
        <div class="card-body">
            <form class="form-inline">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Proyecto N° :</label>
                        <input id="col1_filter" data-id="1" type="text" placeholder="Proyecto" class="column_filter mr-3 col-sm-10 form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Fecha Proyecto</label>
                        <input id="datetimepicker1" type="text" placeholder="Fecha Proyecto" class="mr-3 col-sm-10 form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Fecha Contrato</label>
                        <input id="datetimepicker2" type="text" placeholder="Fecha Fin Contrato" class="mr-3 col-sm-10 form-control form-control-sm">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Departamento</label>
                        @Html.DropDownList("ddlDepartamento", null, new { @class = "mr-3 col-sm-10 form-control form-control-sm" })
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Provincia</label>
                        @Html.DropDownList("ddlProvincia", null, new { @class = "mr-3  col-sm-10 form-control form-control-sm" })
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Distrito</label>
                        @Html.DropDownList("ddlDistrito", null, new { @class = "mr-3  col-sm-10 form-control form-control-sm" })
                    </div>
                    @*<div class="form-group col-md-4">
                        <label for="inlineFormInput" class="col-form-label col-form-label-sm">Ingeniero</label>
                        <input id="txtIngeniero" data-id="4" type="text" placeholder="Apellidos y Nombres" class="column_filter mr-3 col-sm-10 form-control form-control-sm">
                    </div>*@
                </div>
            </form>
        </div>
        <div class="card-header">
            <div class=" clearfix">
                <div class="p-0">
                    <div class="btn-group float-left" role="group" aria-label="Basic example">
                        <button type="submit" id="btnNuevoProyecto" class="btn btn-outline-primary" onclick="location.href='@Url.Action("NuevoProyecto", "Home")'"><span class="icon-form"></span> Proyecto</button>
                        @*<button type="button" id="btnEditar" class="btn btn-outline-primary editor_edit" data-id="1" data-toggle="modal" data-target="#exampleModal"><span class="icon-form"></span> Editar</button>
                        <button type="button" id="btnEliminar" class="btn btn-outline-danger editor_delete" data-id="3" data-toggle="modal" data-target="#deleteModal"><span class="icon-close"></span> Eliminar</button>*@
                        <button type="button" id="btnExportar" class="btn btn-outline-success"><span class="icon-screen"></span> Exportar</button>
                    </div>
                </div>
                <div class="p-0">
                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                        <button type="button" id="btnBuscar" class="btn btn-primary"><span class="icon-search"></span> Buscar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-sm-center" id="Num_Proyecto">Num.</th>
                            <th class="text-sm-center" id="Proyecto">Proyecto</th>
                            <th class="text-sm-center" id="Fecha">Fecha</th>
                            @*<th class="text-sm-center" id="Dni">Dni</th>*@
                            <th class="text-sm-center" id="Ingeniero">Ingeniero</th>
                            @*<th class="text-sm-center" id="Cargo">Cargo</th>
        <th class="text-sm-center" id="Fecha_Contrato">F.Contrato</th>*@
                            <th class="text-sm-center" id="Num_Diseno">Num.Diseño</th>
                            <th class="text-sm-center" id="Tipo_Diseno">Tip.Diseño</th>
                            <th class="text-sm-center" id="Tramo">Tramo</th>
                            <th class="text-sm-center" id="Ubigeo">Ubigeo</th>
                            <th class="text-sm-center" id="Reporte">Opciones</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
    <!-- Modal-->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">


        @using (Html.BeginForm("FormRegistraProyecto", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width:600px;height:600px;">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nuevo Proyecto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">
                            <div id="wrapper" style="width: 100%; height: 100%;">
                                <!--<iframe id="output"></iframe>-->
                                <object id="output" type="application/pdf" style="width: 100%; height: 100%;">
                                    <p>It appears you don't have PDF support in this web browser. <a href="#" id="download-link">Click here to download the PDF</a>.</p>
                                </object>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="form-group">
                            <h6 class="modal-title" id="deleteModalLabel">...</h6>
                            <input type="hidden" id="hidIdProyecto" />
                            <input type="hidden" id="hidIdDiseno" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" id="btnEliminarProy" class="btn btn-primary">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<div id="divEmployee" style="display: none">

    




 

</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>

<script type="text/javascript">
    var dataProyecto = [];
    var dataRowsPdf = [];

    $(document).ready(function () {
        var table;
        var idTipoDiseno = document.getElementById("txtidTipoDiseno").value;
        var idUsuario = document.getElementById("txtidUsuario").value;

        //alert(idTipoDiseno);

        // $("#btnBuscar").click(ProcesarQuery);

        $("#ddlDepartamento").change(function () {
            cambiaDepartamento($("#ddlDepartamento").val());
            //var id = $(this).val();
            //var text = $(this).find('option:selected').text();
        });

        $("#ddlProvincia").change(function () {
            cambiaProvincia($("#ddlProvincia").val());
        });

        cambiaDepartamento($("#ddlDepartamento").val());
        CargarGrilla(); //Cargamos el DataTable



        
        $("#btnBuscar").click(function () {
            $('#example').dataTable().fnDestroy();


            //var dd = document.getElementById("idIngeniero");
            //if ($('#txtIngeniero').val() == "") { dd.value = 0 };
            CargarGrilla();

        }
        );

        // Proceso Actualizar
        $("#btnEditar").click(function () {
            var Proc = $(this).data("id"); //Parametro identificador de Proceso
            alert(Proc);
            Mantenimiento(Proc, ' ');
        }
        );

                

       $("#btnEliminarProy").click(function () {

           val_Id_Proyecto = document.getElementById("hidIdProyecto").value;
           val_Id_Diseno = document.getElementById("hidIdDiseno").value;

           $.ajax
            ({
                method: 'POST',
                url: '/Home/EliminarProyDiseno',
                data: { 'Id_Proyecto': val_Id_Proyecto, 'Id_Diseno': val_Id_Diseno },
                success: function (respuesta) {
                    if (respuesta == 1) {

                        $("#deleteModal .close").click();

                        $('#example').dataTable().fnDestroy();
                        CargarGrilla(); //Cargamos el DataTable

                        toastr.success("El proyecto " + val_Id_Proyecto + " fue eliminado!" , 'ASOCEM', { timeOut: 2500 });
                    }
                    else {
                        toastr.error("Hubo un error al eliminar el registro!", 'ERROR', { timeOut: 2000 });
                    }
                },
                error: function (xhr, status) {
                    toastr.error(status, 'ERROR', { timeOut: 2000 });
                }

            });



        });



        // Proceso Eliminar
        //$('#example').on('click', 'button.editor_delete', function (e) {
        //    e.preventDefault();
        //    var Proc = $(this).data("id"); //Parametro identificador de Proceso
        //    var CodProyecto = $(this).parents("tr").find("td").eq(1).html();
        //    Mantenimiento(Proc, CodProyecto);

        //});

        // Proceso Nuevo
        //$("#btnNuevoProyecto").click( function()
        //{
        //    var checkId = 1;
        //    $.ajax({
        //             url: 'ProyectoDiseno/Index',
        //             type: 'POST',
        //             contentType: 'application/json;',
        //             data: JSON.stringify({ id: checkId }),
        //             success: function (valid)
        //             {
        //                  if(valid) {
        //                      //show that id is valid
        //                  } else {
        //                      //show that id is not valid
        //                  }
        //             }
        //            });
        // });

        CargarCompleted();


    });

    //function CargarCompleted() {
    //    var idUsuario = document.getElementById("txtidUsuario").value;


    //    $('#txtIngeniero').autocomplete({
    //        //source: DataProveedor,
    //        source: function (request, response) {
    //            $.ajax(
    //                {
    //                    type: "POST",
    //                    url: "/Home/ListaUsuarios",
    //                    data: "{'strUsuario':'" + $.trim(idUsuario) + "'," +
    //                        "'valorUsuario':'" + $.trim(request.term) + "'}",
    //                    contentType: "application/json; charset=utf-8",
    //                    dataType: "json",
    //                    dataFilter: function (data) { return data; },
    //                    success: function (data) {
    //                        response($.map(data, function (item) {
    //                            return {
    //                                label: item.Apellido + " " + item.Nombre,
    //                                value: item.Apellido + " " + item.Nombre,
    //                                id: item.Id_Usuario
    //                            };
    //                        }));
    //                    },
    //                    error: Error
    //                });
    //        },
    //        minLength: 2,
    //        select: function (event, ui) {

    //            var dd = document.getElementById("idIngeniero");
    //            dd.value = ui.item.id
    //        },
    //    });
    //};

    function cambiaDepartamento(idDepartamento) {
        // var dd2 = document.getElementById("idIngeniero");
        //alert(dd2.value);
        var dd = document.getElementById("ddlProvincia");

        dd.options.length = 0;
        dd.options[0] = new Option("Espere...");
        dd.selectedIndex = 0;
        dd.disabled = true;

        // Control de errores
        $("#ddlProvincia").ajaxError(function (event, request, settings) {
            dd.options[0] = new Option("Departamento incorrecto");
        });


        var objData = {};
        objData["idDepartamento"] = idDepartamento;

        $.ajax({
            type: "POST",
            url: '/Home/ListaProvincias',
            data: JSON.stringify(objData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (provincias) {

                var obj = (typeof provincias) == 'string' ? eval('(' + provincias + ')') : provincias;

                $.each(obj, function (i, item) {

                    dd.options[i] = new Option(item.Provincia, item.Id_Provincia);

                });


                dd.disabled = false;

                cambiaProvincia($("#ddlProvincia").val());
            }

        });
    }

    function cambiaProvincia(idProvincia) {

        var dd = document.getElementById("ddlDistrito");

        dd.options.length = 0;
        dd.options[0] = new Option("Espere...");
        dd.selectedIndex = 0;
        dd.disabled = true;

        // Control de errores
        $("#ddlDistrito").ajaxError(function (event, request, settings) {
            dd.options[0] = new Option("Distrito incorrecto");
        });


        var objData = {};
        objData["idProvincia"] = idProvincia;

        $.ajax({
            type: "POST",
            url: '/Home/ListaDistritos',
            data: JSON.stringify(objData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (distritos) {

                var obj = (typeof distritos) == 'string' ? eval('(' + distritos + ')') : distritos;

                $.each(obj, function (i, item) {

                    dd.options[i] = new Option(item.Distrito, item.id_Distrito);

                });

                dd.disabled = false;

            }

        });

    }

    function Mantenimiento(prc, codProy) {
        switch (prc) {
            case 1: //Proceso Actualizar
                document.getElementById('exampleModalLabel').innerHTML = ' ACTUALIZANDO: ' + codProy;
                break;

            case 2: //Proceso Nuevo
                document.getElementById('exampleModalLabel').innerHTML = ' NUEVO PROYECTO: ';
                break;

            case 3: //Proceso Eliminar
                document.getElementById('deleteModalLabel').innerHTML = ' ELIMINANDO: ' + codProy;
                break;
        }
    }

    function CellClickReporte(IdProyecto, IdDiseno) {
        var columns = [        
        {title:"Pavimento", dataKey: "Pavimento"},
        {title:"CoefCapa", dataKey: "CoefCapa"},
        {title:"CoefDrenaje", dataKey: "CoefDrenaje"},
        {title:"Espesor", dataKey: "Espesor"},
        {title:"SN", dataKey: "SN"},
        {title:"Espesor", dataKey: "Espesor"}
        ];                      

        var rows = [
            { Pavimento: "Adoquin + arena", CoefCapa: "0.44", CoefDrenaje: "", Espesor: "3.15", SN: "1.39", Espesor: "8.00" },
            { Pavimento: "Base", CoefCapa: " 0.14", CoefDrenaje: "1.00", Espesor: "3.15", SN: "0.44", Espesor: "8.00" },
            { Pavimento: "Sub - Base", CoefCapa: "0.44", CoefDrenaje: "1", Espesor: "7.09", SN: "", Espesor: "18.00" }
         ];                      

     
        //$( "#dlgDetalleOrdenCompra" ).dialog( "open" );
        //  alert(cellvalue);
        var pdf = new jsPDF('p', 'pt', 'letter');

        pdf.addFont("Arimo-Regular.ttf", "Arimo", "normal");
        pdf.addFont("Arimo-Bold.ttf", "Arimo", "bold");

        pdf.setFont("Arimo");
        pdf.setFontSize(23);
        pdf.setFontType("bold");
        pdf.text(110, 30, "REPORTE DISEÑO DE PAVIMENTO");
        pdf.setFontSize(22);
        pdf.text(200, 60, "Método AASHTO 1993");
        pdf.setFontSize(12);
                     
        pdf.setFontType("normal");
        pdf.text(30, 120, "PROYECTO:");
        pdf.text(470, 120, "Proyecto 1");
        pdf.text(30, 140, "TRAMO.");
        pdf.text(470, 140, "Tramo 1");
        pdf.text(30, 160, "FECHA:");
        pdf.text(470, 160, "06/10/2019");
        pdf.text(30, 180, "INGENIERO:");
        pdf.text(470, 180, "06/10/2019");
        pdf.text(30, 200, "REGLAMENTO:");
        pdf.text(470, 200, "Manual de Carreteras MTC");
        pdf.text(30, 220, "TIPO DISEÑO:");
        pdf.text(470, 220, "Diseño 1");
        pdf.text(30, 240, "NUMERO DISEÑO:");
        pdf.text(470, 240, "Adoquin");
    
        pdf.setFontType("bold");
        pdf.text(30, 265, "DATOS DEL PAVIMENTO");
        pdf.setFontType("normal");

        pdf.text(33, 290, "CANTIDAD DE ESAL:");
        pdf.text(470, 290, "9,141,497");
        pdf.text(33, 310, "CONFIABILIDAD (R%): ");
        pdf.text(470, 310, "9,141,497");
        pdf.text(33, 330, "ERROR DE COMBINACIÓN ESTÁNDAR (So):");
        pdf.text(470, 330, "9,141,497");
        pdf.text(33, 350, "MÓDULO DE RESILENCIA (SUBRASANTE): ");
        pdf.text(470, 350, "9,141,497");
        pdf.text(33, 370, "SERVICIABILIDAD INICIAL (Pi):");
        pdf.text(470, 370, "9,141,497");
        pdf.text(33, 390, "SERVICIABILIDAD FINAL (Pt):");
        pdf.text(470, 390, "9,141,497");
        pdf.text(33, 410, "DESVIACIÓN ESTÁNDAR NORMAL (ZR):");

        pdf.setFontType("bold");
        pdf.text(30, 435, "RESULTADOS");
        pdf.setFontType("normal");

        pdf.text(470, 410, "-0.84");
        pdf.text(80, 545, "SN Propuesto");
        pdf.text(200, 545, "-0.84");

        pdf.setFontType("bold");
        pdf.text(30, 570, "CONFORMACIÓN DE LA ESTRUCTURA DEFINITIVA");
        pdf.setFontType("normal");
        
        pdf.text(200, 600, "8.00 cm");
        pdf.text(200, 622, "4.00 cm");
        pdf.text(200, 640, "15.00 cm");
        pdf.text(200, 660, "18.00 cm");

        pdf.setDrawColor(0);
        pdf.setFillColor(200,170,180);
        pdf.rect(30, 585, 150, 20, 'FD'); 

        pdf.setDrawColor(0);
        pdf.setFillColor(255,255,0);
        pdf.rect(30, 605, 150, 20, 'FD'); 

        pdf.setFillColor(204,102,51);
        pdf.rect(30, 625, 150, 20, 'FD'); 

        pdf.setFillColor(153,0,0);
        pdf.rect(30, 645, 150, 20, 'FD'); 

        pdf.setFillColor(204,204,204);
        pdf.rect(30, 665, 150, 20, 'FD'); 


        pdf.autoTable(columns, rows, {  
            startY: 450, 
            theme: 'striped',  
            //tableWidth: 'auto', 
            columnWidth: 'wrap', 
            showHeader: 'everyPage',
            columnStyles: {
                0: {columnWidth: '100'}
            },
            headerStyles: {theme: 'striped'},
            styles: { overflow: 'linebreak', columnWidth: '100', font: 'arial', fontSize: 10, cellPadding: 4, overflowColumns: 'linebreak' },
        });
        
        // source can be HTML-formatted string, or a reference
        // to an actual DOM element from which the text will be scraped.
        source = document.getElementById('divEmployee').innerHTML;
        // we support special element handlers. Register them with jQuery-style
        // ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
        // There is no support for any other type of selectors
        // (class, of compound) at this time.
        specialElementHandlers = {
            // element with id of "bypass" - jQuery style selector
            '#bypassme': function (element, renderer) {
                return true;
            }
        };
        margins = {
            top: 80,
            bottom: 60,
            left: 40,
            width: 522
        };
        // all coords and widths are in jsPDF instance's declared units
        // 'inches' in this case
        pdf.fromHTML(
            source, // HTML string or DOM elem ref.
            margins.left, // x coord
            margins.top, { // y coord
                'width': margins.width, // max width of content on PDF
                'elementHandlers': specialElementHandlers
            },
            function (dispose) {
                // dispose: object with X, Y of the last line add to the PDF
                // this allow the insertion of new lines after html
                // pdf.save('Test.pdf');
                document.getElementById("output").data = pdf.output('datauristring');
            }, margins);
    };
    function ProcesarPdf(Id_Proyecto,Id_Diseno) 
    {  
        var objData = {};
        
        objData["Id_Proyecto"] = Id_Proyecto;
        objData["Id_Diseo"] = Id_Diseno;
       
                 
             $.ajax({
               type: "POST",             
               url: "/Proyectos/ListaReporteCabecera",
               contentType: "application/json; charset=utf-8",
               dataType: "json",   
               data: JSON.stringify(objData),
                //    crossDomain: true, 
                success: function (response)
                {  
                    dataRowsPdf=[];
                    dataRowsPdf.push(response);                      
                },

            });
       
    function Error(result) 
    {
        $("#divError").show();
         alert("ERROR " + result.status + ' ' + result.statusText); 
       
      } 

};
    function CargarGrilla() {
        var strNumProyecto = document.getElementById("col1_filter").value;
        var strFechaProyecto = document.getElementById("datetimepicker1").value;
        var strFechaContrato = document.getElementById("datetimepicker2").value;
        var strIdDepartamento = $("#ddlDepartamento").val();
        var strIdProvincia = $("#ddlProvincia").val();
        var strIdDistrito = $("#ddlDistrito").val();
        var IdIngeniero = document.getElementById("idIngeniero").value;
        var stridTipoDiseno = document.getElementById("txtidTipoDiseno").value;
        var strIdUsuario = document.getElementById("txtidUsuario").value;        

        if (IdIngeniero == "") { IdIngeniero = 0; }
        if ($("#ddlDistrito").val() == "(Selecciona)") { strIdDistrito = 0; }
        if ($("#ddlProvincia").val() == "Espere...") { strIdProvincia = 0; }

        var objData = {};

        objData["NumProyecto"] = strNumProyecto;
        objData["FechaProyecto"] = strFechaProyecto;
        objData["FechaContrato"] = strFechaContrato;
        objData["IdUsuario"] = strIdUsuario;
        objData["Distrito"] = strIdDistrito;
        objData["Provincia"] = strIdProvincia;
        objData["Departamento"] = strIdDepartamento;
        objData["idTipoDiseno"] = stridTipoDiseno;

        table =
            $('#example').dataTable({
                "searching": false,
                "ajax": {
                    "url": "/Proyectos/ListarProyectos",
                    "type": "POST",
                    "data": objData,
                    "dataType": "json"
                },
                /*"columnDefs": [
                    { "targets": [0], "visible": false, "searchable": false }

                ],*/
                "columns": [          
                    { "data": "Num_Proyecto", "class": "text-left" },
                    { "data": "Proyecto", "class": "text-left" },
                    { "data": "Fecha_Proyecto_Date", "class": "text-center" },
                    { "data": "Ingeniero", "class": "text-center" },
                    { "data": "Num_Diseno", "class": "text-left" },
                    { "data": "Tipo_Diseno", "class": "text-center" },
                    { "data": "Tramo", "class": "text-left" },
                    { "data": "Ubigeo", "class": "text-left" },
                    {
                        data: null,
                        className: "text-center",                   
                        "render": function (data) {
                            var strDiv;
                            if (data.Id_Diseno != 0) {
                                 strDiv = '<div class="btn-group btn-group-sm"><button type="button" id="ButtonReporte" onclick="CellClickReporte(\'' + data.Id_Proyecto  +  '\',\'' +  data.Id_Diseno +  '\' );"  class="btn btn-outline-primary editor_report" data-id="1" data-toggle="modal" data-target="#exampleModal"><span class="icon-list"></span></button><button type="button" id="ButtonEliminar" onclick="EliminarProyectoDiseno(\'' + data.Id_Proyecto  +  '\',\'' +  data.Id_Diseno +  '\' );"  class="btn btn-outline-danger" data-id="1" data-toggle="modal" data-target="#deleteModal"><span class="icon-close"></span></button><button type="button" id="ButtonEditar" onclick="EditarProyectoDiseno(\'' + data.Id_Proyecto  +  '\',\'' +  data.Id_Diseno +  '\' );" class="btn btn-outline-primary"><span class="icon-form"></span></button></div>';
                            }
                            else {
                                strDiv = '';
                            }
                            return strDiv;
                        }
                    }
                ],

                "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }

            });


        //para seleccionar una opcion
        $('#example tbody').on('click', 'tr', function () {

            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });





        /* 
        $('#example tbody').on('click', 'tr', function () {                
                if ( $(this).parents("tr").hasClass('selected') ) {
                    $(this).parents("tr").removeClass('selected');
                }
                else {
                   $(this).parents("tr").removeClass('selected');
                   $(this).parents("tr").addClass('selected');
                }
           });
         $('#example tbody').on( 'click', 'button', function () {
           var data = table.row( $(this).parents('tr') ).data();
          alert( data[0] +"'s salary is: "+ data[ 5 ] );
          });
          $('#example').on('click', 'button', function (e) {
              e.preventDefault();
              //var valor = table.row(this).data()[0];
              var id = $(this).parents("tr").html();
              var CodProyecto = $(this).parents("tr").find("td").eq(0).html();
              alert(table.html());
          });
          */

    }

    function EliminarProyectoDiseno(Id_Proyecto,Id_Diseno)
    {
        document.getElementById("hidIdProyecto").value = Id_Proyecto;
        document.getElementById("hidIdDiseno").value = Id_Diseno;

        document.getElementById("deleteModalLabel").innerHTML= 'Está seguro de eliminar el Proyecto ' + Id_Proyecto + '?';

    }

    function EditarProyectoDiseno(Id_Proyecto,Id_Diseno)
    {
        alert(Id_Proyecto + " - " +  Id_Diseno);

        location.href = '@Url.Action("EditarProyDiseno", "Home")?Id_Proyecto=' + Id_Proyecto + '&Id_Diseno=' + Id_Diseno;

    }

</script>


